{{ define "title" }}{{ if eq .Language "de" }}Fehler – Falsche Antwort{{ else }}Error – Wrong Answer{{ end }}{{ end }}

{{ define "content" }}
<div class="card error">
    <h2>{{ if eq .Language "de" }}Oops! Falsche Antwort{{ else }}Oops! Wrong answer{{ end }}</h2>
    <p>{{ if eq .Language "de" }}Bitte versuche es erneut – das Rätsel ist jedes Mal anders.{{ else }}Please try again – the puzzle is different each time.{{ end }}</p>
    <br><br><br>

    {{ if eq .RetryTarget "add_time" }}
        <a href="/captcha?lang={{ .Language }}" class="btn-primary">
            {{ if eq .Language "de" }}Erneut versuchen{{ else }}Retry{{ end }}
        </a>
    {{ else }}
        <a href="/captcha_start?lang={{ .Language }}" class="btn-primary">
            {{ if eq .Language "de" }}Erneut versuchen{{ else }}Retry{{ end }}
        </a>
    {{ end }}
</div>
{{ end }}